<table class="table">
	<thead> 
  <tr>
   	<th>Title</th>
   	<th>Author</th>   	
   	<th>Genre</th>
   	<th>Year</th>   	
   	<th>Actions</th>
  </tr>
  	</thead>
  	<tbody>

    <% @books.each do |book| %>

    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.genre %></td>
      <td><%= book.year %></td>
      <td><%= link_to 'Show book', book, class: 'btn btn-outline-dark' %></td>
    </tr>
  <% end %>
  </tbody>
</table> 
<br>

 <%= link_to new_book_path, class: 'btn btn-danger' do %>
  <i class="fas fa-atlas"></i> New book
<% end %>


	

