<h1>New book</h1>


<%= form_for @book do |f| %>

  Title: <%= f.text_field :title %><br />
  Author: <%= f.text_field :author %><br />
  Genre: <%= f.text_field :genre %><br />
  Year: <%= f.number_field :year, min: 1900  %><br />

 <%= f.submit %>
  
<% end %>